.chat__header{
    display: flex;
    margin-left: 15px;
}
.online__status{
    margin-left: 10px;
}
.chat__wrapper{
    display: grid;
}
.chat__person{
    width: 40px;
    height: 40px;
    border-radius:50% ;
}
.left__person{
    border: 1px solid #333;
    border-radius: 5px 0px 5px 5px;
    background-color: aquamarine;
    text-align: left;
    width:200px ;
    float: left;
    background: #e1ffc7;
}
.right__person{
    border: 1px solid #333;
    border-radius: 0px 5px 5px 5px;
    background-color: rgb(18, 195, 136);
    text-align: right;
    width:200px ;
    align-items: flex-end;
    float: right;
    background: #fff;
}