.stories{
    overflow: auto;
    display: flex;
    overflow-x: scroll;
    border: 1px solid #333;
}
.story__img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.each__stories:hover{
    width: 180%;
    height: 180%;
}